/*  */

body {
  margin: 0;
  padding: 0;
  background-color: #D1DBBD;
  color: #193441;
}

section, aside {
  display: inline-block;
  vertical-align: top;
}

article {
  display: inline-block;
  width: 30%;
  margin-left: 3%;
}

section {
  width: 100%;
}

img, p, h4 {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

article p {
  height: 100px;
  overflow: scroll;
}

img {
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;
  -moz-box-shadow:    3px 3px 5px 2px #ccc;
  box-shadow:         3px 3px 5px 2px #ccc;
}

p, h2, h4 {
  font-family: 'Philosopher', sans-serif;
}

h1, h2 {
  text-align: center;
}

h2 {
  padding-top: 25px;
}

h1 {
  font-family: 'Righteous', cursive;
}

header {
  width: 100%;
}

form {
  width: 30%;
  margin-left: 2%;
}

form {
  float: right;
}
